/*para colocar a imagem no span e poder alterar a cor do background quando passar o mouse por cima */

.cabecalho__menu-hamburguer {
    width: 50px;
    height: 50px;
    background-image: url(../assets/Menu.svg);
    display: inline-block;
}

.container__botao:checked ~ .container__rotulo > .cabecalho__menu-hamburguer{
    background-image: url(../assets/menu_black_24dp\ 1.svg);
}

/* combinadores: ~ * procura algum elemento que esteja próximo a ele. O sinal > procura o elemento que está dentro do elemento ~ */
.container__botao:checked ~ .container__rotulo {
    background: var(--azul);
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 0.5em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 65vw;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titutlo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titutlo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__botao {
    display: none;
}

.container__titulo{
    display: none;
}

.opcoes{
    display: none;
}

.container__texto{
    display: none;
}

@media screen and (min-width: 1024px) {

    .container__titulo, .container__titulo--negrito{
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }


    .container__titulo{
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito{
        font-weight: 700;
    }
    
    .opcoes{
        display: flex;   
    }

    .opcoes__item{
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes__link{
        text-decoration: none;
        color: #000000; 
    }

    .container__imagem-transparente {
        display: none;
    }

    .cabecalho__menu-hamburguer {
        display: none;
    }

    .opcoes__botao:checked ~ .lista-menu {
        display: block;
        width: auto;
    }

    .opcoes__botao {
        display: none;
    }

    .opcoes__botao:checked ~ .opcoes__rotulo > .opcoes__item{
        background: var(--azul);
        color: var(--branco); 
    }

    .opcoes__item{
        padding: 2em 1em;
    }

    .lista-menu__item:hover{
        background: var(--azul);
    }

    .lista-menu__item:hover > .lista-menu__link {
        /* Webkit é referente do gradiente do background. Como estava transparente no gradiente, aqui ele precisa de uma cor e foi o "text-fill-color" porque é referente ao texto */
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }
}

@media screen and (min-width: 1728px) {
    .container__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #000000;
    }

    .cabecalho{
        padding: 0 2em;
    }

    .opcoes{
        margin-right: auto;
    }

    .container__texto{
        display: block;
    }
}
